*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: rgb(132, 66, 180);
    margin-bottom: 30px;
}

.header h1 {
    font-size: 40px;
    color: aliceblue;
    margin-left: 40px;
}

.main {
    flex: 1;
    font-weight: 700;
    max-width: 800px;
    margin: 0 auto;
}

.main h1 {
    text-decoration: underline;
    font-size: 45px;
}

.main-body {
    border: 2px solid rebeccapurple;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

#highlight {
    padding: 1.5px 0 3px 0;
    color: aliceblue;
    background-color: rgb(121, 52, 171);
}

.input-bmi {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: 10px;
}

input {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border: 1px solid rgb(121, 52, 171);
    font-weight: 700;
    font-size: 20px;
    width: 100px;
    margin: 3px;
    height: 25px;
    box-shadow: 2px 2px black;
}

h4 {
    margin: 10px 0 15px 0;
}

h3 {
    margin: 25px 0;
    text-decoration: underline;
    font-size: 43px;
}

.input-bmi,
.bmi-chart li,
p {
    font-size: 25px;
}

button {
    background-color: rgb(132, 66, 180);
    border-radius: 10%;
    border: 0;
    color: aliceblue;
    font-size: 20px;
    height: 35px;
    cursor: pointer;
    width: 120px;
    margin-top: 7px;
    box-shadow: 2px 2px black;

}

li {
    margin: 7px 0;
    /* list-style-position: inside; */
}

.span-red {
    color: red;
}

footer {
    font-size: x-large;
    color: aliceblue;
    background-color: rgb(132, 66, 180);
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width:1000px) {

    .main {
        max-width: 700px;
        padding: 0 30px;
    }

    .header h1 {
        font-size: 50px;
    }

    .main-body {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .main h1 {
        font-size: 65px;
    }

    .input-bmi {
        max-width: fit-content;
        font-size: 40px;
    }

    h4 {
        font-size: 50px;
        color: rgb(132, 66, 180);
    }

    h3 {
        font-size: 50px;
        margin: 10px 0 20px 0;
    }

    input {
        font-size: 35px;
        width: 300px;
        margin: 3px;
        height: 60px;
    }

    .bmi-chart li,
    p {
        font-size: 40px;
    }

    button {
        height: 60px;
        width: 250px;
        border-radius: 5%;
        margin-top: 7px;
        font-size: 35px;
    }

    footer p {
        font-size: 40px;
    }

}

@media only screen and (max-width:600px) {
    .main {
        max-width: 350px;
        padding: 0 10px;
    }

    .header {
        margin-bottom: 10px;
    }

    .header h1 {
        margin-left: 10px;
        font-size: 40px;
    }

    .main h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 45px;
    }

    h4 {
        font-size: 40px;
    }

    .input-bmi {
        max-width: fit-content;
        font-size: 35px;
    }

    .bmi-chart li{
        font-size: 29px;
    }

    p {
        font-size: 33px;
    }

    input {
        width: 120px;
        height: 32px;
        font-size: 27px;
    }

    .bmi-chart {
        font-size: 24px;
    }

    button {
        height: 40px;
        width: 120px;
        margin-top: 7px;
        font-size: 25px;
    }

    footer p {
        font-size: 20px;
    }
}